* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

html,
body {
    scroll-behavior: smooth;
}


/*----------- preloader---------- */

#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgb(41, 35, 35);
}

#preloader .prestyles {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preloader .prestyles h1 {
    color: rgb(0, 174, 255);
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}


/*----------- preloader---------- */

section h1 {
    font-size: 32px;
    font-weight: 500;
}

section h3 {
    font-size: 24px;
    font-weight: 500;
}

section {
    transition: 0.2s;
}

#home {
    background: rgba(124, 156, 7, 0.966);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -70px;
    z-index: -1;
    transition: 0.2s;
    padding: 130px 0px 70px;
}


/* Nav Bar Start   */

.topNav1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0% 3%;
}

.topNav1 .address {
    flex: 3;
    line-height: 30px;
}

.topNav1 .SocialMedia {
    flex: 1;
    text-align: center;
}

.topNav1 .SocialMedia i {
    color: rgb(0, 101, 253);
    font-size: 18px;
    line-height: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.scroll .top-nav {
    position: fixed;
    background-color: rgba(100, 126, 7, 1);
}

.top-nav {
    height: 70px;
    width: 100%;
    top: 0px;
    z-index: 100;
}

.top-nav ul {
    float: right;
    margin-right: 3%;
}

.top-nav ul li {
    display: inline-block;
    margin: 0px 15px;
}

.top-nav ul li a {
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 16px;
    line-height: 70px;
    padding-bottom: 5px;
}

.top-nav .logo,
.top-nav .logo img {
    vertical-align: middle;
    margin-left: 3%;
    line-height: 70px;
    cursor: pointer;
}

.top-nav .logo img {
    width: 150px;
}

.top-nav ul li a:hover,
.active {
    border-bottom: 2px solid rgb(255, 255, 255);
}

#check {
    display: none;
}

.top-nav .bar i {
    float: right;
    line-height: 70px;
    position: relative;
    right: 5%;
    cursor: pointer;
    color: rgb(221, 220, 220);
    font-size: 26px;
    display: none;
}


/* Nav bar End  */

.h-div {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5%;
}

.h-div1 {
    width: 50%;
    height: 100%;
    display: grid;
}

.h-info {
    height: 400px;
    width: 500px;
    padding: 80px 0 0 35px;
    margin: auto;
}

.h-div2 {
    width: 50%;
    height: 100%;
    display: grid;
}

.h-info h1 {
    font-size: 52px;
    margin-bottom: 15px;
    color: white;
}

.h-info h2 {
    font-weight: 200;
    font-size: 25px;
    color: #636261;
    margin-bottom: 20px;
}

.h-info .btn1 {
    padding: 15px 35px;
    background-color: #302f2e;
    color: white;
    font-weight: 600;
    border: none;
}

.h-info .btn2 {
    padding: 15px 35px;
    color: #302f2e;
    font-weight: 600;
    border: none;
    background-color: rgba(233, 229, 15, 0.89);
}

.h-div2 .h-pic {
    background-color: #dbd9d754;
    padding: 0px 50px 0px 0px;
    border-radius: 40% 30% 20% 20%;
    width: 450px;
    margin: auto;
}

.h-div2 .h-pic img {
    width: 400px;
    margin-bottom: -3px;
}

.h-div2 .h-pic .p1 {
    display: none;
}


/* -------------------------about section ------------------*/

#about {
    padding-top: 80px;
    transition: 0.3s;
}

#about .a-m {
    height: auto;
    width: 100%;
}

#about .a-m .a1 {
    height: 50%;
    width: 100%;
    padding: 0% 15%;
    position: relative;
    text-align: center;
    padding-bottom: 150px;
}

#about .a-m .a2 {
    height: 50%;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
}

.ap {
    text-align: justify;
}

.a1 img {
    margin-bottom: 30px;
}

.a1 button {
    padding: 15px 30px;
    background-color: #302f2e;
    font-weight: bold;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 15%;
    margin-top: 50px;
    border: none;
}

.a2 .smd {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.a2 .smd .skill {
    width: 25%;
    height: 120px;
    display: inline-block;
    margin: 5px 20px;
}

.a2 .smd .skill p {
    font-size: 22px;
    text-align: left;
}

.a2 .smd .skill .per {
    height: 20px;
    border-radius: 5px;
    margin: 10px 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

.a2 .smd .skill .per div {
    background-color: rgba(247, 77, 16, 0.89);
    height: 100%;
    width: 0%;
    overflow: hidden;
    transition: 1s all;
    border-radius: 5px;
}

.animateSkills .smd .skill .per div {
    padding-right: 10px;
}

.a2 .smd .skill .per div p {
    font-size: 14px;
    text-align: right;
}

.animateSkills .smd .d1 .per div {
    width: 100%;
}

.animateSkills .smd .d2 .per div {
    width: 80%;
}

.animateSkills .smd .d3 .per div {
    width: 85%;
}

.animateSkills .smd .d4 .per div {
    width: 75%;
}

.animateSkills .smd .d5 .per div {
    width: 70%;
}

.animateSkills .smd .d6 .per div {
    width: 60%;
}


/*-------------------------SERVICE SECTION---------------*/

#service {
    transition: 0.2s;
}

#service,
.sm {
    width: 100%;
    height: auto;
    display: grid;
    text-align: center;
}

#service .sm1 {
    background: linear-gradient( rgba(255, 255, 255, 0.555), rgba(255, 255, 255, 0.555)), url(img/services-bg.jpg);
    width: 100%;
    height: 300px;
}

#service .sm3 {
    height: auto;
    width: 84%;
    padding: 50px 3%;
    z-index: auto;
    text-align: center;
    box-shadow: 0 0 10px #777777;
    background-color: white;
    margin: -240px auto 80px;
}

.sm3 p {
    font-size: 32px;
}

.sm3m {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 0;
}

.sm3m .sm3c {
    width: 30%;
    margin: auto;
}

.sm3c p {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}


/* --------------------PORTFOLIO SECTION ---------------*/

#portfolio {
    width: 100%;
    text-align: center;
    padding-top: 80px;
}

.pm {
    width: 100%;
    padding-top: 80px;
}

.pmc {
    width: 27%;
    text-align: left;
    height: 260px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin: 10px;
    transition: 0.4s all 0s ease;
    overflow: hidden;
    box-shadow: inset 0 0 800px 15px rgba(0, 0, 0, 0.651);
}

.pmc .ph h3 {
    padding: 50% 0 0% 5%;
    color: white;
}

.ph {
    height: 100%;
    width: 100%;
    transition: 0.4s all 0s ease;
}

.pm1 {
    background: url(img/Portfolio-1.jpg);
    background-size: cover;
    background-position: center;
}

.pm2 {
    background: url(img/Portfolio-2.jpg);
    background-size: cover;
    background-position: center;
}

.pm3 {
    background: url(img/Portfolio-3.jpg);
    background-size: cover;
    background-position: center;
}

.pm4 {
    background: url(img/Portfolio-4.jpg);
    background-size: cover;
    background-position: center;
}

.pm5 {
    background: url(img/Portfolio-5.jpg);
    background-size: cover;
    background-position: center;
}

.pm6 {
    background: url(img/Portfolio-6.jpg);
    background-size: cover;
    background-position: center;
}

.slider-input {
    display: none;
}

.slider-dots {
    display: none;
}


/*.pmc:hover .ph {
  transform: translateX(0%);
}*/

.pmc:hover {
    box-shadow: inset 0 0 800px 50px rgb(0, 0, 0);
}


/*-----------CONTACT------------*/

#contact {
    text-align: center;
    height: auto;
    width: 100%;
    transition: 0.2s;
    padding: 80px 0;
}

.c1 {
    margin-bottom: 50px;
}

input.name,
input.email {
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    width: 40%;
}

input.name:focus,
input.email:focus,
textarea.message:focus {
    outline: none;
    border-bottom: 1px solid rgba(116, 115, 115, 0.541);
}

input.name,
input.email,
textarea.message {
    box-shadow: 0 0 5px rgba(94, 91, 91, 0.466);
}

input.email {
    margin-left: 1%;
}

textarea.message {
    display: block;
    border: none;
    width: 82%;
    margin: 50px auto;
    border-bottom: 1px solid black;
}

.submit {
    padding: 15px 27px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    background: transparent;
}

.submit:hover {
    box-shadow: 0 0 5px rgb(71, 69, 69);
    transform: translate(1px, 1px);
}

.submit:focus {
    outline: none;
    background-color: rgba(7, 7, 7, 0.61);
    color: rgb(235, 230, 230);
}


/*---------------------- Click and Up ------------------ */

.clickForUp {
    position: fixed;
    bottom: 50px;
    right: 40px;
    display: none;
}

.up .clickForUp {
    display: block;
    animation: animate 1s;
}

.up .clickForUp i {
    text-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.301);
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-8px);
    }
    35% {
        transform: translateY(8px);
    }
    65% {
        transform: translateY(-8px);
    }
    90% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.clickForUp i {
    font-size: 40px;
    color: rgba(68, 0, 255, 0.885);
}


/*---------------------- Click and Up ------------------ */


/*------------------ bottom Navigation bar------------- */

.bnav-main {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 34, 5);
    padding: 0 6%;
}

.bnav-main .bnav-top {
    width: 100%;
    flex: 2;
    display: flex;
}

.bnav-main .bnav-top .first {
    height: 100%;
    flex: 2;
    display: grid;
    align-items: center;
    align-content: center;
}

.bnav-main .bnav-top .same {
    height: 100%;
    flex: 1;
    padding: 0 20px;
    display: grid;
    align-items: center;
    align-content: center;
}

.bnav-main .bnav-bottom {
    width: 100%;
    flex: 1;
    border-top: 1px solid rgb(163, 163, 163);
    display: flex;
}

.bnav-main p,
a,
h2,
li {
    font-size: 16px;
    color: white;
    line-height: 30px;
    text-decoration: none;
}

.bnav-main h2 {
    font-size: 28px;
}

.bnav-top .same ul {
    list-style-type: none;
}

.bnav-bottom .same {
    height: 100%;
    display: grid;
    align-items: center;
    align-content: center;
}

.bnav-bottom .first {
    flex: 4;
}

.bnav-bottom .second {
    flex: 2;
}

.bnav-bottom .second ul {
    list-style-type: none;
}

.bnav-bottom .second ul li {
    display: inline-block;
    margin: 0 10px;
}


/*------------------ bottom Navigation bar------------- */